$bg: #131316;
$modal-bg: #1C1C21;
$accent: #4C4CFF;
$active: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #4C4CFF;
$input: #2F2F37;
$success: #00CCCC;
$error: #E52B1A;

.App {
    background-color: $bg;
}

.mainWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 1240px;
    margin: 0 auto;
    padding: 0 60px 40px;
}
